# Project exclude paths
/.gradle/
/Battleship/task/build/
/Battleship/task/out/
/Battleship/task/out/production/classes/
/Topics/Throwing exceptions/Theory/out/
/Topics/Throwing exceptions/Theory/out/production/classes/